.App {
  display: flex;
  justify-content: center;
}

#specs-wrapper {
  display: flex;
  border: solid;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.spec-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: solid 2px gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style:oblique;
  margin: 50px;
  box-shadow: 1px 1px 5px 1px lightsteelblue;
  font-size: large;
}

#button {
  padding: 10px;
  margin: 25px;
  border-radius: 5px 5px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 10px 1px black;
  font-size: large;
  cursor: pointer;
}

#button:hover { 
  background-color: darkgrey;
  color: white;
  transition: 500ms;
  border-radius: 20px 20px;
  box-shadow: 1px 1px 5px 1px lightblue;
}

#results {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
  margin: 10px;
}